# Python cache
**/__pycache__/
**/*.pyc

# Arquivos de variáveis de ambiente (exceto .env.example)
.env
.env.*
!.env.example

# Ignorar qualquer pasta venv (em qualquer nível)
venv/
.venv/

n8n_data/
qdrant_storage/
waha_media/
waha_sessions/