OPENAI_API_KEY=sk-sua-chave-aqui
PGVECTOR_CONNECTION_STRING=postgresql+psycopg://admin:adminpassword@postgres_vector:5432/vetordatabase
PGVECTOR_COLLECTION=manuais_suap_ifpi
OPENAI_EMBEDDING_MODEL=text-embedding-3-small