WAHA_URL=http://localhost:3000/api/sendText
OPENAI_API_KEY=
PGVECTOR_CONNECTION_STRING=postgresql+psycopg://admin:adminpassword@postgres_vector:5432/vetordatabase
PGVECTOR_COLLECTION=manuais_suap_ifpi

# --- NOVAS VARIÁVEIS DE CONTROLE DE ACESSO ---
# Mude para "True" para o bot responder a qualquer pessoa
RESPONDER_QUALQUER_NUMERO=False
# Lista de números liberados separados por vírgula (só funciona se a variável acima for False)
NUMEROS_PERMITIDOS=5586999999999@c.us, 5511888888888@c.us

MODELO_LLM=gpt-3.5-turbo
MODELO_EMBEDDING=text-embedding-3-small

SYSTEM_PROMPT="Você é um assistente virtual especialista nos manuais do SUAP do IFPI. Use o CONTEXTO abaixo para responder à pergunta do usuário. Sempre responda em Português (Brasil). Se a resposta não estiver no contexto, diga que não sabe. Não invente informações."

TEMPERATURE=0.3